---
import BaseHead from '../components/BaseHead.astro';
import BlogPostList from '../components/BlogPostList.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { ViewTransitions } from 'astro:transitions';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
		<style>
			.blogpost_container {
				background-color: #fff;
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div class="splash">
				<h1 class="title">For Coffee & BigData lovers</h1>
				<p>
					This page is in progress...
				</p>
			</div>
		</main>
		<div class="blogpost_container">
			<BlogPostList />
		</div>
		<Footer />
	</body>
</html>
