---
interface Props {
    variant?: 'offset' | 'small';
}

const { variant } = Astro.props;
---

<div class="grid-container">
    <ul class:list={['blog-grid', { offset: variant === 'offset', small: variant === 'small' }]}>
        <slot />
    </ul>
</div>

<style>
.grid-container {
    width: 100%;
    padding: 0 var(--content-padding, 2rem);
    margin: 0 auto;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    list-style: none;
    padding: 0;
    margin: 2rem auto;
    width: 100%;
    max-width: var(--content-width, 75rem);
}

@media (max-width: 768px) {
    .grid-container {
        padding: 0rem;
    }

    .blog-grid {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        width: calc(100% - 2rem);
        margin-left: auto;
        margin-right: auto;
    }
}
</style>