---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

import { ClientRouter } from 'astro:transitions';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
    <head>
        <link rel="sitemap" href="/sitemap-index.xml" />
        <BaseHead title={title} description={description} />
        <ClientRouter />
    </head>
    <body>
        <div class="site-wrapper">
            <Nav />
            <main class="main-content">
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>

<style>

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1 0 auto;
    width: 100%;
}
</style>